<div id="upperNav">	
		<a href="/register">
			<img src="./img/createAccount.svg" alt="">
			<p>CREATE AN ACCOUNT</p>
		</a>
		<p>|</p>
		<a href="/login">
			<img src="./img/login.svg" alt="">
			<p>LOGIN</p>
		</a>	
	</div>
	<header id="mainHeader">
		<div id="logoDiv">
			<img src="./img/logonegro.svg" id="logo" alt="">
		</div>
		<nav id="navBar">
			<a href="/" >HOME</a>
			<a href="Login" >OUR BLOG</a>
			<a href="Login" >ACCESORIES</a>
			<a href="Search">BUILD YOUR COCKTAILS</a>
			<a href="Bar" >ENTER THE BAR</a>
		</nav>
</header>