<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TheShaker</title>

	<!-- Here is the css styling used in the html page  -->
	<link rel="stylesheet" href="./css/style.css"></style>
	<!-- Here are the fonts that are added  -->
	<link href="https://fonts.googleapis.com/css?family=Catamaran:400,600,700&display=swap" rel="stylesheet">	
	<link rel='icon' href='./img/favicon.ico' type='image/x-icon'/ >
</head>
<body>
	<div id="upperNav">	
		<a href="/register">
			<img src="./img/createAccount.svg">
			<p>CREATE AN ACCOUNT</p>
		</a>
		<p>|</p>
		<a href="/login">
				<img src="./img/login.svg">
			<p>LOGIN</p>
		</a>	
	</div>
	<header id="mainHeader">
		<div id="logoDiv">
			<img src="./img/logonegro.svg" id="logo">
		</div>
		<nav id="navBar">
			<a href="Login">HOME</a>
			<a href="Login">OUR BLOG</a>
			<a href="Login">ACCESORIES</a>
			<a href="searchcocktail">BUILD YOUR COCKTAILS</a>
			<a href="Bar" >ENTER THE BAR</a>
		</nav>
	</header>
	<main>
		<div id="backgroundImage">
			<p id="title">Come See The Bar</p>
			<p id="subtitle">MORE THAN 500 RECIPES INSIDE</p>
			<a href="searchcocktail"><button id="buttonLook">LOOK NOW</button></a>
		</div>
		<div id="mainPages">
			<a style="text-decoration: none;" href="">
				<div id="about">
					<div class="innerLine">
						<h4>Go to</h4>
						<p>ABOUT</p>
						<hr/>
					</div>	
				</div>
			</a>
			<a style="text-decoration: none;" href="">
				<div id="blog">	
					<div class="innerLine">
						<h4>See our</h4>
						<p>BLOG</p>
						<hr/>
					</div>		
				</div>
			</a>
			<a style="text-decoration: none;" href="">
				<div id="barCart">
					<div class="innerLine">	
						<h4>Find</h4>
						<p>ACCESORIES</p>
						<hr/>
					</div>
				</div>
			</a>
		</div>
		<div id="quote">
			<div id="quoteRectangle">
				<div class="innerLine2">
					<p id="mainQuote">"First you take a drink, then the drink takes a drink,<br> then the drink takes you."</p>
					<p id="author">Francis Scott Key Fitzgerald</p>
				</div>
			</div>
		</div>	
	</main>
	<footer>
		<div id="AboutUs">
			
		</div>
		<div id="NeedHelp">
			
		</div>
		<div id="JoinCommunity">
			
		</div>		
	</footer>
</body>
</html>